<div class="sidebar">
  <div class="brand">
    <h1>poikkeuskartta.fi</h1>
  </div>
  <div class="place-selector">
    <mat-form-field appearance="outline" *ngIf="showPlaceSelector">
      <mat-label>{{ placeSelectorLabel }}</mat-label>
      <ng-select ngSelectMat [items]="places" bindLabel="name" (change)="onPlaceSelect($event)" [(ngModel)]="selectedPlace" ></ng-select>
      <span matPrefix><fa-icon [icon]="['fal', 'map-marker-alt']" transform="up-3"></fa-icon></span>
    </mat-form-field>
  </div>
  <mat-expansion-panel [expanded]="panelOpenState">
    <div class="legend">
      <mat-list>
        <mat-list-item *ngFor="let legend of legendItems" (click)="onLegendToggle(legend);" [ngClass]="{'active': legend.active}">
          <img [src]="legend.amenity_image" [alt]="legend.title" *ngIf="legend.amenity_image" matListIcon class="amenity-image">
          <div class="icon" [style.backgroundColor]="legend.active ? legend.color : '#ccc'" matListIcon *ngIf="!legend.amenity_image">
            <fa-icon [icon]="legend.icon"></fa-icon>
          </div>
          <p matLine> {{ legend.title }} </p>
          <mat-divider *ngIf="legend.title !== 'S-ryhmä'"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="footer">
      <p>Mitä kartalta puuttuu? Onko jokin tieto väärin? Laita viestiä <a href="mailto:kartta@proximi.io">kartta@proximi.io</a>, niin korjataan kuntoon!</p>

      <p>Kartta päivitetty {{ currentDate | date: 'dd.MM.yyyy' }}</p>
    </div>
  </mat-expansion-panel>
  <!--<mat-form-field appearance="outline">
    <mat-label>{{ endPointLabel }}</mat-label>
    <ng-select ngSelectMat groupBy="category" [items]="pois" bindLabel="title" (change)="onEndPointSelect($event)" [searchFn]="poiSearchFn">
      <ng-template ng-optgroup-tmp let-item="item" let-index="index">
        {{ item.category }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="28" width="28" [src]="item.icon"/>
        {{ item.title | slice: 0:18 }} {{ item.title.length > 18 ? '...' : '' }}
        <span class="level">L<small>{{ item.level }}</small></span>
      </ng-template>
    </ng-select>
    <span matPrefix><fa-icon [icon]="['fal', 'search']" transform="up-3"></fa-icon></span>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ startPointLabel }}</mat-label>
    <ng-select ngSelectMat groupBy="category" [items]="pois" bindLabel="title" (change)="onStartPointSelect($event)" [searchFn]="poiSearchFn">
      <ng-template ng-optgroup-tmp let-item="item" let-index="index">
        {{ item.category }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="28" width="28" [src]="item.icon"/>
        {{ item.title | slice: 0:18 }} {{ item.title.length > 18 ? '...' : '' }}
        <span class="level">L<small>{{ item.level }}</small></span>
      </ng-template>
    </ng-select>
    <span matPrefix><fa-icon [icon]="['fal', 'dot-circle']" transform="up-3"></fa-icon></span>
  </mat-form-field>-->
  <div *ngIf="showOnlyAccessibleToggle">
    <button type="button" class="accessible-btn" (click)="onAccessibleOnlyToggle()">
      <fa-icon [icon]="['fal', 'wheelchair']" size="lg"></fa-icon>
      <span>Accessible routes only</span>
      <fa-icon [icon]="['fal', 'toggle-off']" *ngIf="!onlyAccessible" class="toggle-off" size="2x"></fa-icon>
      <fa-icon [icon]="['fal', 'toggle-on']" *ngIf="onlyAccessible" class="toggle-on" size="2x"></fa-icon>
    </button>
  </div>
  <div class="powered-by" *ngIf="showPoweredBy">
    <img src="assets/proximiio-logo-only.png" alt="Proximi.io">
    <h4 class="title">Powered by Proximi.io</h4>
  </div>
</div>

