<mat-card>
  <mat-card-header>
    <mat-card-title>{{ poi.properties.title }}</mat-card-title>
    <mat-card-subtitle>{{ metadata?.description?.fi }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>Ma:</strong>
        <span>{{ metadata?.openHours[1].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>Ti:</strong>
        <span>{{ metadata?.openHours[2].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>Ke:</strong>
        <span>{{ metadata?.openHours[3].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>To:</strong>
        <span>{{ metadata?.openHours[4].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>Pe:</strong>
        <span>{{ metadata?.openHours[5].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>La:</strong>
        <span>{{ metadata?.openHours[6].fi }}</span>
      </mat-list-item>
      <mat-list-item>
        <fa-icon [icon]="['fad', 'clock']"></fa-icon>
        <strong>Su:</strong>
        <span>{{ metadata?.openHours[0].fi }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="onCloseClick()">Sulje</button>
  </mat-card-actions>
</mat-card>
