<div (resized)="onResized($event)">

  <mgl-map
    [style]="mapStyle"
    [zoom]="mapZoom"
    [center]="mapCenter"
    [movingMethod]="mapMovingMethod"
    (load)="onLoad($event)"
  >
    <mgl-control mglGeolocate [position]="sidebarService.window === 'lg' ? 'top-right' : 'bottom-right'"></mgl-control>
    <mgl-control mglNavigation [position]="sidebarService.window === 'lg' ? 'top-right' : 'bottom-right'"></mgl-control>
    <ng-container *ngFor="let key of objectKeys(images)">
      <mgl-image
        [id]="key"
        [url]="images[key].uri"
      >
      </mgl-image>
    </ng-container>
  </mgl-map>
</div>
