<div (resized)="onResized($event)">
  <a href="javascript:;" (click)="sidebarService.toggleSidebar();" class="toggle-sidebar">
    <fa-icon [icon]="['fal', 'ellipsis-v']" size="lg"></fa-icon>
  </a>
  <div class="map-floors">
    <ul>
      <li>
        <span *ngIf="currentLevelChanger && currentLevelChanger.way === 'up'">{{ currentLevelChanger.nextLevel }}</span>
        <a href="javascript:;"
           [ngClass]="{'blinking': currentLevelChanger && currentLevelChanger.way === 'up'}"
           (click)="onFloorChange('up', currentLevelChanger)">
          <fa-icon [icon]="['fal', 'chevron-up']"></fa-icon>
        </a>
      </li>
      <li class="current-floor">{{ selectedFloor ? selectedFloor.name : 0 }}</li>
      <li>
        <span *ngIf="currentLevelChanger && currentLevelChanger.way === 'down'">{{ currentLevelChanger.nextLevel }}</span>
        <a href="javascript:;"
           [ngClass]="{'blinking': currentLevelChanger && currentLevelChanger.way === 'down'}"
           (click)="onFloorChange('down', currentLevelChanger)">
          <fa-icon [icon]="['fal', 'chevron-down']"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <mgl-map
    [style]="mapStyle"
    [zoom]="mapZoom"
    [center]="mapCenter"
    [pitch]="mapPitch"
    [bearing]="mapBearing"
    [movingMethod]="mapMovingMethod"
    (load)="onLoad($event)"
  >
    <ng-container *ngFor="let key of objectKeys(images)">
      <mgl-image
        [id]="key"
        [url]="images[key].uri"
      >
      </mgl-image>
    </ng-container>
    <mgl-geojson-source
      [id]="Constants.SOURCE_POI"
      [data]="featuresForLevel(level, true)"
      [maxzoom]="24"
    ></mgl-geojson-source>
    <mgl-layer
      type="symbol"
      [id]="Constants.LAYER_POIS_ICONS"
      [source]="Constants.SOURCE_POI"
      [minzoom]="17"
      [maxzoom]="24"
      [filter]="
          [
            'all',
            ['==', ['get', 'usecase'], 'poi'],
            ['==', ['to-number', ['get', 'level']], level],
            ['match', ['get', 'amenity'], activeAmenitiesToggle ? activeAmenitiesToggle : amenityIds, true, false]
          ]
        "
      [layout]="{
          'icon-image': '{amenity}',
          'icon-size': iconSize,
          'symbol-placement': 'point',
          'icon-allow-overlap': true,
          'icon-ignore-placement': true,
          'text-allow-overlap': true,
          'visibility': showPOI ? 'visible' : 'none'
        }"
      (click)="onPoiClick($event)"
    ></mgl-layer>
    <mgl-layer
      type="symbol"
      [id]="Constants.LAYER_POIS_LABELS"
      [source]="Constants.SOURCE_POI"
      [minzoom]="18"
      [maxzoom]="24"
      [filter]="
          [
            'all',
            ['==', ['get', 'usecase'], 'poi'],
            ['==', ['to-number', ['get', 'level']], level],
            ['match', ['get', 'amenity'], activeAmenitiesToggle ? activeAmenitiesToggle : amenityIds, true, false]
          ]
        "
      [layout]="{
          'text-offset': [0, 2],
          'text-field': ['get', 'title'],
          'text-size': 14,
          'text-font': [font],
          'symbol-placement': 'point',
          'text-allow-overlap': false,
          'icon-allow-overlap': true,
          'icon-ignore-placement': true,
          'visibility': showPOI ? 'visible' : 'none'
        }"
    ></mgl-layer>
    <mgl-geojson-source
      [id]="Constants.SOURCE_ROUTING"
      [data]="routeCollection"
      [maxzoom]="24"
    ></mgl-geojson-source>
    <mgl-layer
      type="symbol"
      [id]="Constants.LAYER_ROUTING_SYMBOLS + '_line'"
      [source]="Constants.SOURCE_ROUTING"
      [filter]="
          [
            '==',
            ['get', 'usecase'], 'route-line-symbol'
          ]
        "
      [layout]="{
          'icon-image': 'bluedot',
          'icon-size': 0.25,
          'symbol-placement': 'point',
          'icon-allow-overlap': false,
          'text-allow-overlap': false,
          'visibility': !ignoreRoute ? 'visible' : 'none'
        }"
    ></mgl-layer>
    <mgl-layer
      type="line"
      [id]="Constants.LAYER_ROUTING_LINE"
      [source]="Constants.SOURCE_ROUTING"
      [minzoom]="10"
      [maxzoom]="24"
      [filter]="
          [
            '==',
            ['get', 'usecase'], 'route-line'
          ]
        "
      [paint]="routeLineStyle"
      [layout]="{
          'visibility': !ignoreRoute ? 'visible' : 'none'
        }"
    ></mgl-layer>
    <mgl-layer
      type="symbol"
      [id]="Constants.LAYER_ROUTING_SYMBOLS"
      [source]="Constants.SOURCE_ROUTING"
      [filter]="
          [
            '==',
            ['get', 'usecase'], 'route-symbol'
          ]
        "
      [layout]="{
          'icon-image': '{icon}',
          'icon-size': 0.4,
          'symbol-placement': 'point',
          'icon-allow-overlap': true,
          'text-allow-overlap': false,
          'visibility': !ignoreRoute ? 'visible' : 'none'
        }"
    ></mgl-layer>
    <mgl-layer
      type="symbol"
      [id]="Constants.LAYER_FLOORCHANGE_SYMBOLS"
      [source]="Constants.SOURCE_ROUTING"
      [filter]="
          [
            '==',
            ['get', 'usecase'], 'floor-change-symbol'
          ]
        "
      [layout]="{
          'icon-image': '{icon}',
          'icon-size': 0.3,
          'icon-offset': currentLevelChanger && currentLevelChanger.way === 'up' ? [4, -80] : [4, 90],
          'symbol-placement': 'point',
          'icon-allow-overlap': true,
          'text-allow-overlap': false,
          'visibility': !ignoreRoute ? 'visible' : 'none'
        }"
    ></mgl-layer>
    <mgl-geojson-source
      [id]="Constants.SOURCE_HIGHLIGHT_POINTS"
      [data]="highlightPointsCollection"
      [maxzoom]="24"
    ></mgl-geojson-source>
    <mgl-layer
      *ngIf="highlightClickedPoi"
      type="circle"
      [id]="Constants.LAYER_HIGHLIGHT_CLICKED_POINT"
      [source]="Constants.SOURCE_HIGHLIGHT_POINTS"
      [minzoom]="17"
      [maxzoom]="24"
      [filter]="
          [
            'all',
            ['==', ['get', 'usecase'], 'clicked-point-highlight'],
            ['==', ['to-number', ['get', 'level']], level]
          ]
        "
      [paint]="{
        'circle-radius': 38,
        'circle-blur': 0.5,
        'circle-color': '#3887be'
      }"
      [before]="Constants.LAYER_POIS_ICONS"
    ></mgl-layer>
    <mgl-layer
      *ngIf="highlightSelectedPoi"
      type="circle"
      [id]="Constants.LAYER_HIGHLIGHT_STARTPOI_POINT"
      [source]="Constants.SOURCE_HIGHLIGHT_POINTS"
      [minzoom]="17"
      [maxzoom]="24"
      [filter]="
          [
            'all',
            ['==', ['get', 'usecase'], 'startpoi-point-highlight'],
            ['==', ['to-number', ['get', 'level']], level]
          ]
        "
      [paint]="{
        'circle-radius': 38,
        'circle-blur': 0.5,
        'circle-color': '#40dc7e'
      }"
      [before]="Constants.LAYER_POIS_ICONS"
    ></mgl-layer>
    <mgl-layer
      *ngIf="highlightSelectedPoi"
      type="circle"
      [id]="Constants.LAYER_HIGHLIGHT_ENDPOI_POINT"
      [source]="Constants.SOURCE_HIGHLIGHT_POINTS"
      [minzoom]="17"
      [maxzoom]="24"
      [filter]="
          [
            'all',
            ['==', ['get', 'usecase'], 'endpoi-point-highlight'],
            ['==', ['to-number', ['get', 'level']], level]
          ]
        "
      [paint]="{
        'circle-radius': 38,
        'circle-blur': 0.5,
        'circle-color': '#8a7fff'
      }"
      [before]="Constants.LAYER_POIS_ICONS"
    ></mgl-layer>
    <div *ngIf="floorplans.length > 0">
      <ng-container *ngFor="let floorplan of floorplans">
        <mgl-image-source
          [id]="floorplan.source.id"
          [url]="floorplan.source.url"
          [coordinates]="floorplan.source.coordinates"
        ></mgl-image-source>
        <mgl-layer
          [id]="floorplan.layer.id"
          [source]="floorplan.source.id"
          type="raster"
          [minzoom]="12"
          [before]="Constants.LAYER_FLOORS"
          [paint]="floorplan.layer.paint"
          [layout]="floorplan.layer.layout"
        ></mgl-layer>
      </ng-container>
    </div>
    <mgl-popup
      *ngIf="selectedPoint"
      [feature]="selectedPoint"
    >
      <h4>{{ selectedPoint.properties?.title }}</h4>
    </mgl-popup>
  </mgl-map>
  <button mat-raised-button color="primary" [disabled]="!endPoi || !startPoi" (click)="onGenerateRoute()" class="generate-route-btn">
    <span *ngIf="!route">Näytä reitti kohteeseen</span>
    <span *ngIf="route">Sulje reitti <i>&times;</i></span>
  </button>
  <div class="generate-route-block">
    <ul>
      <li>
        <h5 class="label">Lähtöpiste</h5>
        <mat-form-field appearance="outline">
          <mat-label>Etsi</mat-label>
          <ng-select ngSelectMat groupBy="category" [items]="pois" bindLabel="title" (change)="onStartPointSelect($event)" [searchFn]="poiSearchFn" [(ngModel)]="startPoi">
            <ng-template ng-optgroup-tmp let-item="item" let-index="index">
              {{ item.category }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <img height="28" width="28" [src]="item.icon"/>
              {{ item.title | slice: 0:18 }} {{ item.title.length > 18 ? '...' : '' }}
              <span class="level">L<small>{{ item.level + 1 }}</small></span>
            </ng-template>
          </ng-select>
          <span matSuffix><img src="assets/search.svg" alt=""></span>
        </mat-form-field>
      </li>
      <li>
        <h5 class="label">Saavutettavuus</h5>
        <div style="padding: 15px 0;">
          <img src="assets/saavutettavuus.svg" alt="" height="30px" style="margin-right: 15px;">
          <mat-slide-toggle
            (change)="onAccessibleOnlyToggle($event)"
            [checked]="accessibleOnly"
            color="primary"
            style="height: 30px; line-height: 30px; vertical-align: top;"></mat-slide-toggle>
        </div>
      </li>
    </ul>
  </div>
</div>
