:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 320px;
  >div {
    height: 100%;
  }
}

mgl-map {
  width: 100%;
  height: 100%;
  min-height: 320px;

  ::ng-deep .mapboxgl-map {
    min-height: 320px;
  }
}

.map-floors {
  position: fixed;
  z-index: 9;
  right: 10px;
  top: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
      position: relative;
      >span {
        position: absolute;
        background-color: white;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        left: -5px;
        top: -5px;
        font-weight: bold;
        color: #222;
      }
      >a,
      &.current-floor {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        background-color: #10283f;
        border-radius: 50%;
        color: white;
        text-align: center;
      }
      &.current-floor {
        margin: 10px 0;
        font-size: 26px;
        font-weight: 300;
        background-color: rgba(16, 40, 63, 0.63);
      }
      >a {
        &:hover {
          background-color: #183c5e;
        }
        &.blinking {
          animation-name: anim;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
        }
      }
      &:last-child {
        >a {
          line-height: 48px;
        }
      }
    }
  }
}

@keyframes anim {
  to {
    background-color: #3daa55;
  }
}

.toggle-sidebar {
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 10px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #10283f;
  border-radius: 50%;
  color: rgba(255,255,255, .87);
  text-align: center;

  &:hover {
    background-color: #183c5e;
    color: white;
  }
}

.mat-raised-button.mat-primary[disabled] {
  background-color: #f2f2f2;
}

.generate-route-btn {
  position: absolute;
  bottom: 170px;
  left: calc(50% - 110px);
  min-width: 220px;
  font-size: 16px;
  padding: .2rem .5rem;
  line-height: 38px;
  border-radius: 8px;

  span > i {
    float: right;
    margin-right: 10px;
    font-size: 30px;
    line-height: 34px;
  }
}

.generate-route-block {
  position: absolute;
  width: 460px;
  bottom: 20px;
  left: calc(50% - 230px);
  text-align: center;

  ul {
    width: 100%;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid white;
    padding: 0;
    list-style: none;
    display: flex;
    margin: 1rem auto 0;

    li {
      flex: auto;
      text-align: left;
      padding: 1.5rem 1rem 0;

      &:first-child {
        flex: 55%;
      }

      .label {
        margin: 0 0 10px;
      }

      .mat-form-field {
        width: 100%;
      }

      ::ng-deep .ng-option {
        >img {
          vertical-align: middle;
          margin-top: -5px;
        }
        >span.level {
          position: absolute;
          right: 10px;
          top: 10px;
          display: block;
          border: 1px solid #222;
          color: #222;
          width: 46px;
          height: 26px;
          line-height: 26px;
          text-align: center;
        }
      }

      ::ng-deep {
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
          padding-right: 50px;
          white-space: normal;
        }
        .ng-select {
          .ng-arrow-wrapper {
            display: none;
          }
        }
        .mat-form-field-flex {
          align-items: normal;
        }
        .mat-form-field-prefix,
        .mat-form-field-suffix {
          width: 24px;
          bottom: -23px;
        }
        .ng-dropdown-panel {
          background-color: white;
          color: rgba(0, 0, 0, 0.87) !important;
          font-size: 13px;

          .ng-dropdown-panel-items {
            .ng-option {
              color: rgba(0, 0, 0, 0.87);
              &.ng-option-marked {
                background: rgba(0, 0, 0, 0.04);
              }
              &.ng-option-selected {
                background: rgba(0, 0, 0, 0.12);
                color: #3f51b5;
              }
              &.ng-option-child {
                padding-left: 16px;
              }
            }
            .ng-optgroup {
              color: black;
            }
          }
        }
        .mat-form-field-appearance-outline {
          .ng-select {
            top: -4px;
            .ng-dropdown-panel.ng-select-bottom {
              top: calc(100% + 1.25em )
            }
            .ng-dropdown-panel.ng-select-top {
              bottom: calc(100% + 1.45em )
            }
          }
          .mat-form-field-prefix,
          .mat-form-field-suffix  {
            bottom: 0;
            padding-top: 18px;
          }
        }
      }
    }
  }
}

::ng-deep .mapboxgl-ctrl-top-right {
  top: 170px;
  right: 7px;
}

@media screen and (max-width: 960px) {
  .map-floors {
    top: 130px;
  }
  .generate-route-btn {
    font-size: 14px;
    padding: .2rem .5rem;
    line-height: 26px;
    bottom: 95px;
    position: fixed;

    span > i {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .generate-route-block {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;

    ul {
      border-radius: 0;
      border: 0;

      li {
        padding-top: .5rem;

        &:last-child {
          >div {
            padding-bottom: 5px;
          }
          mat-slide-toggle {
            height: 20px!important;
            line-height: 20px!important;
          }
          img {
            height: 20px;
          }
        }

        ::ng-deep {
          .mat-form-field {
            font-size: 14px;
            &.mat-form-field-appearance-outline {
              .mat-form-field-infix {
                padding: .5em 0 .5em 0;
              }
              .mat-form-field-label {
                top: 1.4em;
              }
              .mat-form-field-wrapper {
                padding-bottom: 0;
              }
              .ng-clear-wrapper, .ng-arrow-wrapper {
                .ng-clear {
                  line-height: .8;
                }
              }
              .mat-form-field-prefix,
              .mat-form-field-suffix  {
                bottom: 0;
                padding-top: 7px;
              }
            }
            &.mat-form-field-should-float {
              .mat-form-field-label {
                top: 1.8em;
              }
            }
          }
          .mat-form-field-wrapper {
            padding-bottom: 0rem;
          }
          .mat-form-field-infix {
            width: 120px;
          }
        }
      }
    }
  }
  .toggle-sidebar.topbar-active {
    display: none;
  }
  ::ng-deep .mapboxgl-ctrl-top-right {
    top: 290px;
  }
}
