<div [class]="'theme-wrapper ' + theme$">
  <ng-container *ngIf="userIsAuthenticated">
    <app-sidebar></app-sidebar>
    <div class="content">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="credits">
      <img src="assets/proximiio-logo-only.png" alt="Proximi.io">
      Kartan tuottanut Proximi.io - <a href="https://proximi.io" target="_blank">https://proximi.io</a>
    </div>
  </ng-container>
  <ng-container *ngIf="!userIsAuthenticated">
    <div class="content">
      <p *ngIf="isLoading" style="margin: 2rem 0; text-align: center;">
        Loading...<br/>
        <mat-spinner color="accent" diameter="38" style="margin: 2rem auto;"></mat-spinner>
      </p>
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </ng-container>
</div>




