<div [class]="'theme-wrapper ' + theme$">
  <mat-sidenav-container *ngIf="userIsAuthenticated">
    <mat-sidenav
      [ngStyle]="{'background-color': currentUserConfig ? currentUserConfig.primary_color : ''}"
      [mode]="sidebarService.sidenavMode"
      [opened]="sidenavIsOpened"
      #appDrawer>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <div class="content">
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-container *ngIf="!userIsAuthenticated">
    <div class="content">
      <p *ngIf="isLoading" style="margin: 2rem 0; text-align: center;">
        Loading...<br/>
        <mat-spinner color="accent" diameter="38" style="margin: 2rem auto;"></mat-spinner>
      </p>
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </ng-container>
</div>




