.mat-sidenav {
  width: 390px;
  border-right: 0;
  background-color: #2A8FBD;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
}

.container {
  height: 100vh;
}

.content {
  height: 100vh;
  position: static;
}

app-topbar {
  position: absolute;
  display: none;
  z-index: 99;
  left: 0;
  right: 0;
}

@media screen and (max-width: 960px) {
  app-topbar {
    display: block;
  }
}
