$helsinki-palette: (
  50 : #e0e0f7,
  100 : #b3b3ec,
  200 : #8080df,
  300 : #4d4dd2,
  400 : #2626c9,
  500 : #0000bf,
  600 : #0000b9,
  700 : #0000b1,
  800 : #0000a9,
  900 : #00009b,
  A100 : #c6c6ff,
  A200 : #9393ff,
  A400 : #6060ff,
  A700 : #4747ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



$custom-theme-primary: mat-palette($helsinki-palette);
$custom-theme-accent: mat-palette($mat-light-blue);
$custom-theme-warn: mat-palette($mat-pink, 600);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
